In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate

## 使用boolean indexing 筛选数据

In [2]:
df= pd.read_csv('data/stackoverflow_qa.csv')
df.head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
1,5515021,2011-04-01 14:50:44,8,7015,Compute a compounded return series in Python,3,6,7.0,Jason Strimpel,3301.0,Mike Pennington,26995.0
2,5558607,2011-04-05 21:13:50,2,7392,Sort a pandas DataMatrix in ascending order,2,0,1.0,Jason Strimpel,3301.0,Wes McKinney,43310.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0
4,7577546,2011-09-28 01:58:38,9,2488,"Using pandas, how do I subsample a large DataF...",1,0,5.0,Uri Laserson,958.0,HYRY,54137.0

+ 单纯的 boolean

*  条件列表

In [3]:
conditions= [True,False,False,True,False]
df.head(5).loc[conditions]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0

**说明：第0条，第3条为true，其他为false**

In [4]:
df.head(5)[conditions]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0

**上例说明：这个很容易让人混淆，这是要选择列还是行，个人习惯尽量不用**

 * 条件Series

In [5]:
s=pd.Series([True,False,False,True,False])
s

0     True
1    False
2    False
3     True
4    False
dtype: bool

In [6]:
df.head(5).loc[s]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0

**注意，series的index 要与被筛选的dataframe的index一致**
下面看例子

In [7]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
df.head(5).index

RangeIndex(start=0, stop=5, step=1)

上边index是一致的,来看不一致的

In [10]:
ss=pd.Series([True,False,False,True,False],index=[6,7,8,9,10])
ss

6      True
7     False
8     False
9      True
10    False
dtype: bool

In [11]:
df.head(5).loc[ss]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

**报错，不匹配.所以尽量避免手写Series的index 可以 s=pd.Series([True,False,False,True,False],index=df.head(5).index) 代替**

 *  numpy arrays 条件

In [12]:
a=np.array([True,False,False,True,False])
df.head(5).loc[a]

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0

 * 使用不等式  > < >= <= == !=

In [17]:
condit=df['score'] > 10

In [18]:
condit.head()

0    False
1    False
2    False
3    False
4    False
Name: score, dtype: bool

In [15]:
type(condit)

pandas.core.series.Series

In [21]:
df1=df.loc[condit]
df1.head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
6,7776679,2011-10-15 08:21:17,25,28159,append two data frame with pandas,2,7,4.0,Jean-Pat,882.0,Wes McKinney,43310.0
8,7837722,2011-10-20 14:46:14,201,223746,What is the most efficient way to loop through...,8,3,115.0,Muppet,1563.0,Nick Crawford,2779.0
14,8916302,2012-01-18 19:41:27,29,20614,selecting across multiple columns with python ...,3,0,14.0,user248237dfsf,19244.0,Wes McKinney,43310.0
17,8991709,2012-01-24 17:59:53,136,16783,Why are pandas merges in python faster than da...,3,16,60.0,Zach,12484.0,Matt Dowle,41275.0
24,9555635,2012-03-04 14:25:36,19,6604,Open source Enthought Python alternative,8,5,6.0,tshauck,5957.0,ogrisel,24990.0

In [22]:
df.shape

(56398, 12)

In [23]:
df1.shape

(1364, 12)

**本质上还是使用了相同index的Series进行条件筛选的**
使用链式方式 如下

In [26]:
df.loc[df['score']>10].head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
6,7776679,2011-10-15 08:21:17,25,28159,append two data frame with pandas,2,7,4.0,Jean-Pat,882.0,Wes McKinney,43310.0
8,7837722,2011-10-20 14:46:14,201,223746,What is the most efficient way to loop through...,8,3,115.0,Muppet,1563.0,Nick Crawford,2779.0
14,8916302,2012-01-18 19:41:27,29,20614,selecting across multiple columns with python ...,3,0,14.0,user248237dfsf,19244.0,Wes McKinney,43310.0
17,8991709,2012-01-24 17:59:53,136,16783,Why are pandas merges in python faster than da...,3,16,60.0,Zach,12484.0,Matt Dowle,41275.0
24,9555635,2012-03-04 14:25:36,19,6604,Open source Enthought Python alternative,8,5,6.0,tshauck,5957.0,ogrisel,24990.0

In [27]:
df.loc[df['ans_name']=='Scott Boston'].head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
38161,43491342,2017-04-19 09:14:28,4,167,Merging pandas dataframes based on nearest val...,1,0,NaN,AkiRoss,3991.0,Scott Boston,23611.0
38178,43190850,2017-04-03 17:31:33,1,284,Python Seaborn Plot ValueError,2,3,NaN,Ryan,545.0,Scott Boston,23611.0
38237,43176052,2017-04-03 03:21:12,2,39,Convert an indexed pandas matrix to a flat dat...,2,0,NaN,alvas,31923.0,Scott Boston,23611.0
38246,43209525,2017-04-04 14:03:17,5,131,Pandas: Optimal way to MultiIndex columns,2,0,0.0,sparc_spread,5470.0,Scott Boston,23611.0
38275,43211893,2017-04-04 15:45:17,0,38,How to calculate a index series for a event wi...,1,3,NaN,zsljulius,1102.0,Scott Boston,23611.0

In [29]:
df.loc[(df['ans_name']=='Scott Boston')&(df['score']>2)].head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
38161,43491342,2017-04-19 09:14:28,4,167,Merging pandas dataframes based on nearest val...,1,0,NaN,AkiRoss,3991.0,Scott Boston,23611.0
38246,43209525,2017-04-04 14:03:17,5,131,Pandas: Optimal way to MultiIndex columns,2,0,0.0,sparc_spread,5470.0,Scott Boston,23611.0
38621,43240690,2017-04-05 20:07:29,3,210,pandas data manipulation in python,2,0,1.0,BigDataScientist,360.0,Scott Boston,23611.0
38640,42870703,2017-03-18 05:06:22,5,125,Simultaneous operation of groupby and resample...,1,0,1.0,S. Naribole,43.0,Scott Boston,23611.0
39223,42938535,2017-03-21 21:35:36,3,424,python pandas resample count and sum,2,0,NaN,jeangelj,779.0,Scott Boston,23611.0

In [30]:
df.loc[(df['ans_name']=='Scott Boston')|(df['score']<10)].head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
1,5515021,2011-04-01 14:50:44,8,7015,Compute a compounded return series in Python,3,6,7.0,Jason Strimpel,3301.0,Mike Pennington,26995.0
2,5558607,2011-04-05 21:13:50,2,7392,Sort a pandas DataMatrix in ascending order,2,0,1.0,Jason Strimpel,3301.0,Wes McKinney,43310.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0
4,7577546,2011-09-28 01:58:38,9,2488,"Using pandas, how do I subsample a large DataF...",1,0,5.0,Uri Laserson,958.0,HYRY,54137.0

In [32]:
df.loc[~((df['ans_name']=='Scott Boston')&(df['score']>2))].head()

,id,creationdate,score,viewcount,title,answercount,commentcount,favoritecount,quest_name,quest_rep,ans_name,ans_rep
0,5486226,2011-03-30 12:26:50,4,2113,Rolling median in python,3,4,1.0,yueerhu,125.0,Mike Pennington,26995.0
1,5515021,2011-04-01 14:50:44,8,7015,Compute a compounded return series in Python,3,6,7.0,Jason Strimpel,3301.0,Mike Pennington,26995.0
2,5558607,2011-04-05 21:13:50,2,7392,Sort a pandas DataMatrix in ascending order,2,0,1.0,Jason Strimpel,3301.0,Wes McKinney,43310.0
3,6467832,2011-06-24 12:31:45,9,13056,How to get the correlation between two timeser...,1,0,7.0,user814005,117.0,Wes McKinney,43310.0
4,7577546,2011-09-28 01:58:38,9,2488,"Using pandas, how do I subsample a large DataF...",1,0,5.0,Uri Laserson,958.0,HYRY,54137.0

**&-与，|-或， ~ 非 都是位操作，所以每个条件都要带上（），类似(df['ans_name']=='Scott Boston')**